@charset "UTF-8";
/* ----- Fim do Escopo de Configurações ----- //

// ----- Inicio do Escopo Principal ----- */
table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #47d1bf;
  border-radius: 7px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
table thead tr {
  display: flex;
  justify-content: space-between;
  background-color: #47d1bf;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 7px 7px 0 0;
}
table thead tr th {
  padding: 7px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  min-height: 30px;
  cursor: pointer;
  width: 15%;
}
table thead tr th:first-child {
  border-radius: 7px 0 0 0;
}
table thead tr th:last-child {
  border-radius: 0 7px 0 0;
}
table thead tr th:hover, table thead tr th:focus {
  background-color: #64e7d6;
}
table thead tr th:nth-child(1) {
  width: 5%;
}
table thead tr th:nth-child(2) {
  width: 50%;
}
table thead tr th:nth-child(1) {
  text-align: center;
}
table thead tr th:nth-child(2) {
  text-align: initial;
}
table thead tr th:nth-child(3) {
  text-align: center;
}
table thead tr th:nth-child(4) {
  text-align: center;
}
table thead tr th:nth-child(5) {
  text-align: center;
}
table tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f9f8;
}
table tbody tr {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.35s ease, font-size 0.35s ease;
}
table tbody tr:not(:last-child) {
  border-bottom: 1px solid #006659;
}
table tbody tr:nth-child(odd) {
  background-color: #e9f2f0;
}
table tbody tr:hover {
  background-color: #c7e1dd;
}
table tbody tr td {
  padding: 7px;
  width: 15%;
}
table tbody tr td:nth-child(1) {
  width: 5%;
}
table tbody tr td:nth-child(2) {
  width: 50%;
}
table tbody tr td:nth-child(1) {
  text-align: center;
}
table tbody tr td:nth-child(2) {
  text-align: initial;
}
table tbody tr td:nth-child(3) {
  text-align: center;
}
table tbody tr td:nth-child(4) {
  text-align: center;
}
table tbody tr td:nth-child(5) {
  text-align: center;
}
table tfoot tr {
  display: flex;
  justify-content: space-between;
}
table tfoot tr td {
  padding: 7px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  min-height: 30px;
  width: 15%;
}
table tfoot tr td:first-child {
  border-radius: 7px 0 0 0;
}
table tfoot tr td:last-child {
  border-radius: 0 7px 0 0;
}
table tfoot tr td:first-child {
  border-radius: 0 0 0 7px;
}
table tfoot tr td:last-child {
  border-radius: 0 0 7px 0;
}
table tfoot tr td:nth-child(1) {
  width: 5%;
}
table tfoot tr td:nth-child(2) {
  width: 50%;
}
table tfoot tr td:nth-child(1) {
  text-align: center;
}
table tfoot tr td:nth-child(2) {
  text-align: initial;
}
table tfoot tr td:nth-child(3) {
  text-align: center;
}
table tfoot tr td:nth-child(4) {
  text-align: center;
}
table tfoot tr td:nth-child(5) {
  text-align: center;
}

body {
  max-width: 1920px;
  margin: auto;
}

section.main-content {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
section.main-content > aside, section.main-content nav {
  width: 20%;
}
section.main-content > aside > section, section.main-content nav > section {
  position: sticky;
  top: 0;
  padding: 10px;
}
section.main-content > main {
  width: 60%;
}/*# sourceMappingURL=style.css.map */