$main-color: #f1960c;
$sec-color: #76c9ad;

$txt-color: #000;

$btn-bg-color: #aaf039;
$btn-bg-color-hv: $sec-color;
$btn-bg-color-fc: $btn-bg-color-hv;

$btn-txt-color: #000;
$btn-txt-color-hv: $btn-txt-color;
$btn-txt-color-fc: $btn-txt-color-hv;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size: 16px;