@use 'sass:color';

$bg-headers: #ff0000;

$bg-header: $bg-headers;
$bg-body: #fff;
$bg-footer: $bg-headers;

.filtros {
    display: none;
}

@mixin cellSize($grow-w: 1, $grow-h: 1) {
    max-width: 100%;
    padding: 7px * $grow-w 7px * $grow-h;
    
    border: 1px solid #999;
}

@mixin tdLayout() {
    width: 15%;

    &:nth-child(1) {
        width: 5%;
    }
    &:nth-child(2) {
        width: 50%;
    }
}

@mixin trLayout() {
    
}

@mixin tableSkin() {

}

@mixin tableHeadSkin($bg-color: $bg-headers) {
    background-color: $bg-color;
}

@mixin tableBodySkin($bg-color: $bg-body, $bg-odd: $bg-body) {
    background-color: $bg-color;
    tr {
        &:nth-child(even) {
            background-color: $bg-odd;
        }
        &:hover, &:focus {
            background-color: color.adjust($bg-odd, $blackness: 20%);
        }
    }
}

@mixin tableFooterSkin($bg-color: $bg-headers) {
    background-color: $bg-color;
}

#result-transacoes {
    width: 100%;
    margin-top: 20px;
    thead {
        @include tableHeadSkin();
        tr {
            @include trLayout();

            th {
                @include tdLayout();
                @include cellSize();
            }
        }
    }
    tbody {
        @include tableBodySkin(#fff, #eee);
        tr {
            @include trLayout();

            td {
                @include tdLayout();
                @include cellSize(0.73, 1);
            }
        }
    }
    tfoot {
        @include tableFooterSkin();
        tr {
            @include trLayout();
            
            td {
                @include cellSize();
                
                &:nth-child(1) {
                    width: 55%;
                }
                &:nth-child(2) {
                    width: 45%;
                }
            }
        }
    }
}